		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"> </script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
		<script type="text/javascript" src="../scripts/main.js"></script>
		
	</body>
</html>