<%include ./partials/header%>
	<section class="brand">
		<p>brand<span class="dot">.</span></p>
	</section>
	<div class="container_boxes">
		<div class="box">
			<a href="/products"><span class="items">Products</span></a>
		</div>
		<div class="box">
			<a href="/samples"><span class="items">Samples</span></a>
		</div>
	</div>
<%include ./partials/footer%>
