body {
	font-family: 'Raleway', sans-serif;
}
.jumbotron {
	text-align: center;
}

.forms {
	width: 30%;
	margin: 25px auto;
}

.items {
	width: 20%;
}

.containt {
	width: 80%;
	padding: 10px;
	margin: 10px auto 10px auto;
	/*border: 1px solid black;*/
	border-radius: 10px;
}

.title {
	font-weight: bold;
}

.Solved {
	background-color: #33cc33;
}

.Unsolved {
	background-color: #cc3300;
}

.Acknowledged {
	background-color: #e6e600;
}
#b {
	border-top: 1px dashed grey;
	padding-top: 4px;
}

