<%include ../partials/header %>

	
	<div class="container">
		<div class="row">
			<div class="jumbotron">
				<h3> Product List</h3>
				<a class="btn btn-primary btn-md" href="/products/new">Create New Product</a>
			</div>
			
		</div>
	</div>

<%include ../partials/footer %>